---
import Heading from "../ui/Heading.astro";
---

<section id="sobre" class="py-20 container mx-auto px-6">
    <div class="max-w-4xl mx-auto text-center">
        <div class="mb-6">
            <Heading text="Sobre" textGradient="UpLearn" level={2} />
        </div>
        <p class="py-2 text-lg text-gray-700 leading-relaxed">
            UpLearn es un espacio donde la educación formal convive con la formación extracurricular.
            Funcionamos como una red nacional e internacional de clubes académicos, culturales, sociales, deportivos y tecnológicos.
            No solo enseñamos — también actuamos. Organizamos programas, competencias y proyectos que transforman comunidades, respetando la diversidad y necesidades locales.
        </p>
    </div>
</section>